<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recalchi - Consultoria</title>
    <link rel="icon" href="logor.png" type="image/png">
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha512-SfTiTlX6kk+qitfevl/7LibUOeJWlt9rbyDn92a1DqWOw9vWG2MFoays0sgObmWazO5BQPiFucnnEAjpAB+/Sw==" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <div class="headersection clear">
        <div class="midcontent">
            <div class="headerlogo left">
                <a class="logo" target="_blank" href="/app/View/module/Pessoa/logo.png">
                  <img src="https://i.ibb.co/mq6R9Sw/Logotipo-500x500-px.png" alt="Logotipo-500x500-px">
                 <span>RECALCHI MANAGE</span>
                </a>
            </div>
        </div>
    </div>

    
    <div class="bannersection">
        <div class="midcontent">
            <div class="bannercontent tc">
              
              <h2>RECALCHI MANAGE
                </h2>
                <h3>Conheças todos os módulos para aprimorar seu negócio</h3>
                <br>
                <a  class="defaultbtn" href=""> <i class="fa fa-life-ring" aria-hidden="true"></i> CRM Vendas</a>
                <a class="defaultbtn" href="gerencia_pricing.html"> <i class="fa fa-money" aria-hidden="true"></i> PricingPro</a>
                <a class="defaultbtn" href=""> <i class="fa fa-bar-chart" aria-hidden="true"></i> FinanSys</a>

            </div>
        </div>
    </div>
>
    <div class="servicesection">
        <div class="midcontent">
            <div class="sectiontitle tc">
            <p>Como cada parte do sistema pode ajudar no seu negócio</p>
            </div>
            <div class="serviceitem clear">

                <div class="servicebox left">
                    <div class="serviceicon">
                        <span><i class="fa fa-cubes" aria-hidden="true"></i>
                        </span>
                    </div>
                    <div class="servicecontent">
                        <h3>Gestão Pricing</h3>
                        <p>A melhor gestão de preços para seu serviço/produto com pesquisa de mercado.</p>
                    </div>
                </div>
                <div class="servicebox left">
                    <div class="serviceicon">
                        <span><i class="fa fa-briefcase" aria-hidden="true"></i>
                        </span>
                    </div>
                    <div class="servicecontent">
                        <h3>CRM de Vendas</h3>
                        <p>Software de gerenciamento de relacionamento com o cliente em nuvem.</p>
                    </div>
                </div>
                <div class="servicebox left">
                    <div class="serviceicon">
                        <span><i class="fa fa-bar-chart-o" aria-hidden="true"></i>
                        </span>
                    </div>
                    <div class="servicecontent">
                        <h3>Gestão Financeira</h3>
                        <p>O gerenciamento completo para controle no a receber e a pagar, com relatórios.</p>
                    </div>
                </div>  
            </div>
        </div>
    </div>
    <div class="bannerbottom clear">
        <div class="midcontent">
            <div class="videoleft left">
              <img src="https://i.ibb.co/HYK0Ftv/foto.png" alt="foto" border="0">            
        </div>
        <div class="videocontentright right">
        <h3>SOBRE NOSSO SISTEMA</h3>
        <p>As integrações entre sistemas são fundamentais para garantir que diferentes áreas de uma empresa trabalhem em conjunto de forma harmoniosa e eficiente. No caso de um sistema que envolve gestão financeira, CRM de vendas e pricing, as integrações são especialmente importantes, pois permitem que as informações sejam compartilhadas entre essas áreas, evitando duplicidade de esforços e garantindo uma visão mais completa e precisa da situação da empresa.</p>
<br>
        <p> Algumas integrações que podem ser implementadas incluem a sincronização de dados de clientes e vendas entre o CRM e a gestão financeira, a integração de informações de preços e custos de produtos entre o pricing e a gestão financeira, e a integração de dados de fluxo de caixa entre o CRM e a gestão financeira. Com essas integrações, é possível otimizar processos, tomar decisões mais informadas e melhorar a eficiência geral da empresa.</p>


        </div>
        </div>
    </div
    <div class="bannerbottom clear">
      <div class="midcontent">
            <div class="contactrow clear">
 
                    <h3>CONTATO</h3>
<p>E-mail:recalchi.manage@gmail.com</p>
<p>Telefone: 11 2240-3661</p>

            </div>

        </div>
    </div>            <div class="footer tc tt">
                <p>&copy; copyright 2022 RECALCHI MANAGE - all rights reserved</p>
            </div>
</body>
</html>