<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recalchi - Consultoria</title>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha512-SfTiTlX6kk+qitfevl/7LibUOeJWlt9rbyDn92a1DqWOw9vWG2MFoays0sgObmWazO5BQPiFucnnEAjpAB+/Sw==" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="/app/View/css/style.css">
</head>
<body>
    <div class="headersection clear">
        <div class="midcontent">
            <div class="headerlogo left">
                <a class="logo" target="_blank" href="https://www.youtube.com/watch?v=nejbmj_2gBo&list=PLYP3nGPfEX3ozR7diS7raz5JeHcEYEbsf&index=35">
                    <img src="https://i.ibb.co/PxptZWx/logo.png" alt="">
                    <span>Recalchi Consultoria</span>
                </a>
            </div>
            <div class="headermenu left">
                <div class="primarymenu">
                    <ul>
                        <li><a href="#">Menu<i class="fa fa-sort-desc" aria-hidden="true"></i></a></li>
                        <li><a href="#">Sobre nós</a></li>
                        <li><a href="#">Seviços<i class="fa fa-sort-desc" aria-hidden="true"></i><a>
                            <ul>
                            <li><a href="#"></a></li>
                            <li><a href="#">Consultoria Financeira Particular</a></li>
                            <li><a href="#">Consultoria Financeira Corporativa</a></li>
                            <li><a href="#">Fluxo Financeiro para Investimentos</a></li>
                            <li><a href="#"> Tracker apps</a></li>
                        </ul></li>
                       <!-- <li><a href="#">Produtos</a></li>-->
                        <li><a href="#">Contato</a></li>
                    </ul>
                </div>
            </div>
            <div class="headerbutton left">
                <a class="headerbtn" href="/app/login">Acessar</a>
                <a class="headerbtn" href="/app/login_pj">Para Empresas</a>

            </div>
        </div>
    </div>

    
    <div class="bannersection">
        <div class="midcontent">
            <div class="bannercontent tc">
                <h3>É dificil sem organizar as finanças</h3>
                <h2>Planejamento Financeiro na sua mão</h2>
                <a  class="defaultbtn" href="#"> <i class="fa fa-android" aria-hidden="true"></i> Google play</a>
                <a class="defaultbtn" href="#"> <i class="fa fa-apple" aria-hidden="true"></i> Apple store</a>
            </div>
        </div>
    </div>
    <div class="bannerbottom clear">
        <div class="midcontent">
            <div class="videoleft left">
                <iframe width="100%" height="387" src="https://www.youtube.com/embed/7MnP25BL-wI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        <div class="videocontentright right">
        <h3>Transforme modo de gerenciar de forma prática</h3>
        <p>Entenda o melhor perfil que se adeque a você. Tenha um atendimento especializado exclusivo para seu objetivo financeiro</p>
        </div>
        </div>
    </div>
    <div class="servicesection">
        <div class="midcontent">
            <div class="sectiontitle tc">
            <h1>Gerencie de forma fácil</h1>
            <p>Atendimento completo para suas finanças</p>
            </div>
            <div class="serviceitem clear">

                <div class="servicebox left">
                    <div class="serviceicon">
                        <span><i class="fa fa-laptop" aria-hidden="true"></i>
                        </span>
                    </div>
                    <div class="servicecontent">
                        <h3>Time Tracking</h3>
                        <p>Accurate and simple time tracking. Task-based estimation</p>
                    </div>
                </div>
                <div class="servicebox left">
                    <div class="serviceicon">
                        <span><i class="fa fa-laptop" aria-hidden="true"></i>
                        </span>
                    </div>
                    <div class="servicecontent">
                        <h3>Time Tracking</h3>
                        <p>Accurate and simple time tracking. Task-based estimation</p>
                    </div>
                </div>
                <div class="servicebox left">
                    <div class="serviceicon">
                        <span><i class="fa fa-laptop" aria-hidden="true"></i>
                        </span>
                    </div>
                    <div class="servicecontent">
                        <h3>Time Tracking</h3>
                        <p>Accurate and simple time tracking. Task-based estimation</p>
                    </div>
                </div>
                <div class="servicebox left">
                    <div class="serviceicon">
                        <span><i class="fa fa-laptop" aria-hidden="true"></i>
                        </span>
                    </div>
                    <div class="servicecontent">
                        <h3>Time Tracking</h3>
                        <p>Accurate and simple time tracking. Task-based estimation</p>
                    </div>
                </div>
                <div class="servicebox left">
                    <div class="serviceicon">
                        <span><i class="fa fa-laptop" aria-hidden="true"></i>
                        </span>
                    </div>
                    <div class="servicecontent">
                        <h3>Time Tracking</h3>
                        <p>Accurate and simple time tracking. Task-based estimation</p>
                    </div>
                </div>
                <div class="servicebox left">
                    <div class="serviceicon">
                        <span><i class="fa fa-laptop" aria-hidden="true"></i>
                        </span>
                    </div>
                    <div class="servicecontent">
                        <h3>Time Tracking</h3>
                        <p>Accurate and simple time tracking. Task-based estimation</p>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <div class="pricingtablesection">
        <div class="midcontent">
            <div class="sectiontitle tc">
            <h2>Comece a seu atendimento hoje</h2>
            <p>Conjunto de estratégias para gerenciar suas finanças de forma segura durante todo o seu acompanhamento</p>
            </div>
            <div class="pricingtable clear"> 
                <div class="pricingtableitem left">
                    <div class="pheading">
                        <h4>Plano Simples</h4>
                        <h1> $ 0 <span>/ month</span></h1>
                        <h5>O que oferece?</h5>
                        <p>Mais simples do que organizar as finanças de forma prática</p>
                    </div>
                    <div class="pcontent">
                        <ul>
                            <li> <span><i class="fa fa-check" aria-hidden="true"></i></span> Diagrama Financeiro</li>
                            <li> <span><i class="fa fa-check" aria-hidden="true"></i></span> Relatório de análise</li>
                            <li> <span><i class="fa fa-check" aria-hidden="true"></i></span> Organização Personalizada</li>
                            <li><span><i class="fa fa-times" aria-hidden="true"></i></span> Suitability Direcionado </li>
                            <li><span><i class="fa fa-times" aria-hidden="true"></i></span> Treinamento de Investimentos</li>
                            <li><span><i class="fa fa-times" aria-hidden="true"></i></span> Estratégia de Pricing</li>
                        </ul>
                        <div class="pbutton tc">
                            <a href="#" class="defaultbtn">Obter agora</a>
                        </div>
                    </div>
                </div>
            <div class="pricingtable clear"> 
                <div class="pricingtableitem left">
                    <div class="pheading">
                        <h4>Plano Intermediário</h4>
                        <h1> R$ 11 <span>/ month</span></h1>
                        <h5>O que oferece?</h5>
                        <p>Serviço especializado com base em perfil</p>
                    </div>
                    <div class="pcontent">
                        <ul>
                            <li> <span><i class="fa fa-check" aria-hidden="true"></i></span> Diagrama Financeiro</li>
                            <li> <span><i class="fa fa-check" aria-hidden="true"></i></span> Relatório de análise</li>
                            <li> <span><i class="fa fa-check" aria-hidden="true"></i></span> Organização Personalizada</li>
                            <li><span><i class="fa fa-check" aria-hidden="true"></i></span> Suitability Direcionado </li>
                            <li><span><i class="fa fa-times" aria-hidden="true"></i></span> Treinamento de Investimentos</li>
                            <li><span><i class="fa fa-times" aria-hidden="true"></i></span> Estratégia de Pricing</li>
                        </ul>
                        <div class="pbutton tc">
                            <a href="#" class="defaultbtn">Obter agora</a>
                        </div>
                    </div>
                </div>

            <div class="pricingtable clear"> 
                <div class="pricingtableitem left">
                    <div class="pheading">
                        <h4>Plano Premiun</h4>
                        <h1> R$ 50 <span>/ month</span></h1>
                        <h5>O que oferece?</h5>
                        <p>Voltado para adquirir decisões de compra e venda e capacitação</p>
                    </div>
                    <div class="pcontent">
                        <ul>
                             <li> <span><i class="fa fa-check" aria-hidden="true"></i></span> Diagrama Financeiro</li>
                            <li> <span><i class="fa fa-check" aria-hidden="true"></i></span> Relatório de análise</li>
                            <li> <span><i class="fa fa-check" aria-hidden="true"></i></span> Organização Personalizada</li>
                            <li><span><i class="fa fa-check" aria-hidden="true"></i></span> Suitability Direcionado </li>
                            <li><span><i class="fa fa-check" aria-hidden="true"></i></span> Treinamento de Investimentos</li>
                            <li><span><i class="fa fa-times" aria-hidden="true"></i></span> Estratégia de Pricing</li>
                        </ul>
                        <div class="pbutton tc">
                            <a href="#" class="defaultbtn">Obter agora</a>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <div class="teamsection">
        <div class="midcontent">
            <div class="sectiontitle tc">
                <h2>Nosso time é contratado para guiar você</h2>
            </div>
            <div class="teammember">
                <div class="member left">
                    <img src="https://i.ibb.co/kDq6Fs6/face1.jpg" alt="">
                    <div class="memberbio">
                        <h4>Isa Ahmed</h4>
                        <p>Jquiry</p>
                    </div>
                </div>
            </div>
            <div class="teammember">
                <div class="member left">
                    <img src="https://i.ibb.co/84FgXD2/face3.jpg" alt="">
                    <div class="memberbio">
                        <h4>Mezbah Tareq</h4>
                        <p>Python</p>
                    </div>
                </div>
            </div>
            <div class="teammember">
                <div class="member left">
                    <img src="https://i.ibb.co/QKxbGrL/hello.png" height="241px"alt="">
                    <div class="memberbio">
                        <h4>Renan Recalchi</h4>
                        <p>Wev Developer</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="newslattersection pbg">
        <div class="midcontent">
            <div class="sectiontitle newslattertitle tc">
            <p>Mantenha-se atualizado com as últimas atualizações</p>
            <h2>Assine a nossa newsletter</h2>
            </div>
            <div class="newslatterform tc">
                <form action="#">
                    <input class="defaultinput" type="emali" placeholder="E-mail Address">
                    <button class="submitbtn" type="submit">Subscribe</button>
                </form>
            </div>
        </div>
    </div>
    <div class="blogsection">
        <div class="midcontent">
            <div class="blogtitle clear">
                <div class="bheading left">
                    <h2>O que há de novo?</h2>
                </div>
                <div class="btcontent right">
                    <p>Accurate employee tile tracking software for reporting, invoicing and painless payroll. Trusted by over 2,000 businesses in more than 70 countries.</p>
                </div>
            </div>
            <div class="blogitem clear">
                <div class="blogpostitem left">
                    <img src="https://i.ibb.co/48KNhnL/02.jpg" alt="">
                    <div class="blogpostcontent">
                        <h3>Reporting</h3>
                        <p>Highly flaxibe reports to analyze time the way you want</p>
                    </div>
                </div>
                <div class="blogpostitem right">
                    <img src="https://i.ibb.co/gSQb8C4/03.jpg" alt="">
                    <div class="blogpostcontent">
                        <h3>Reporting</h3>
                        <p>Highly flaxibe reports to analyze time the way you want</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="testimonialsection pbg">
        <div class="midcontent">
            <div class="sectiontitle newslattertitle tc">
                <p>Feedback dos usuários</p>
                <h2> O que os usuários dizem sobre nossa consultoria</h2>
            </div>
            <div class="testimonialitem clear">
                <div class="iitem left">
                    <div class="tcontent">
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatum ducimus officia aut error similique vero facere aliquam incidunt amet deserunt?</p>
                    </div>
                    <div class="tuserimg">
                        <img src="https://i.ibb.co/kDq6Fs6/face1.jpg" alt="">
                        <div class="tuserbio">
                            <h4>Isa Ahmed</h4>
                            <span>User</span>
                        </div>
                    </div>
                </div>
            <div class="testimonialitem clear">
                <div class="iitem left">
                    <div class="tcontent">
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatum ducimus officia aut error similique vero facere aliquam incidunt amet deserunt?</p>
                    </div>
                    <div class="tuserimg">
                        <img src="https://i.ibb.co/McXZpBY/face2.jpg" alt="">
                    </div>
                    <div class="tuserbio">
                        <h4>Nur Nahar</h4>
                        <span>User</span>
                    </div>
                </div>
                <div class="iitem left">
                    <div class="tcontent">
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatum ducimus officia aut error similique vero facere aliquam incidunt amet deserunt?</p>
                    </div>
                    <div class="tuserimg ">
                        <img src="https://i.ibb.co/84FgXD2/face3.jpg" alt="">
                    </div>
                    <div class="tuserbio">
                        <h4>Mezbah Tareq</h4>
                        <span>User</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="contactsection">
        <div class="midcontent">
            <div class="contactrow clear">
                <div class="contentleftmap left">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d29666.537883140976!2d-76.99845506034164!3d39.00381239343047!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89b7cf4e666ae927%3A0x8433a865b29adf!2sSilver%20Spring%2C%20MD!5e1!3m2!1sen!2sus!4v1598585776242!5m2!1sen!2sus" width="100%" height="800" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                </div>  
                <div class="contentrightform right">
                    <h4>Contact us</h4>
                    <p>Contact us if you have any questions and we will contact you. We appreciate user feedback and be sure to take into account your wishes.</p>
                     <div class="footercontactform clear">
                    <form action="#">
                        <input type="email" placeholder="E-mail Address" class="defaultinput w100">
                        <input type="text" placeholder="Name" class="defaultinput w50">
                        <input type="number" placeholder="Your Phone" class="defaultinput w50">
                        <textarea class="defautinput w100" placeholder="Message"></textarea>
                        <button type="submit" class="submitbtn"> Send </button>
                    </form>
                     </div>
                </div>  
            </div>
            <div class="footer tc tt">
                <p>&copy; copyright 2020 by isa ahmed - all rights reserved</p>
            </div>
        </div>
    </div>
</body>
</html>